body {
    background-color: burlywood;/*url("assets/images/background.jpg");*/
    box-sizing: border-box; 
}
h1 {
    float: center;
    width: 100%;
    text-align: center;
    font-size: 80px;
}

.container {
    float: left;
    width: 40%;
}

img {
    width: 80%;
    height: 100%;
    position: relative;
}

.clock {
    width: 20%;
    height: 20%;
    position: absolute;
    top: 300px;
    left: 130px;
}

.timer {
    font-family: butcherman;
    font-size: 40px;
    text-align: center;
    left: 100px;
}

h2 {
    font-family: butcherman;
    font-size: 30px;
}

.mainArea {
    width: 60%;
    float: right;
}

.center-block {
    width: 200px;
    height: 200px;
}
.start-button {
    font-family: butcherman;
    color: black;
    font-size: 80px;
    text-decoration: none;
}

.text-center {
    font-family: de-walpergens-pica;
    font-size: 30px;
}

.answer {
    font-family: de-walpergens-pica;
    font-size: 20px;
}

.reset-button {
    font-family: butcherman;
    color: black;
    font-size: 80px;
    text-decoration: none;
}

.summary-correct {
    font-family: de-walpergens-pica;
    font-size: 20px;
}


